##importando dados

In [11]:
import pandas as pd

In [12]:
caminho_arquivos = "dados/TargetSales/"

In [21]:
customers = pd.read_csv(f"{caminho_arquivos}customers.csv", dtype={'customer_zip_code_prefix': 'str'})
geolocation = pd.read_csv(f"{caminho_arquivos}geolocation.csv", dtype={'geolocation_zip_code_prefix': 'str'})
order_items = pd.read_csv(f"{caminho_arquivos}order_items.csv", parse_dates=['shipping_limit_date'])
orders = pd.read_csv(f"{caminho_arquivos}orders.csv", parse_dates=['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date'])
payments = pd.read_csv(f"{caminho_arquivos}payments.csv")
products = pd.read_csv(f"{caminho_arquivos}products.csv")
sellers = pd.read_csv(f"{caminho_arquivos}sellers.csv" , dtype={'seller_zip_code_prefix': 'str'})

In [ ]:
#ajuste de tipo de dados apos importação
products['product_photos_qty'] = products['product_photos_qty'].fillna(0)
products['product_photos_qty'] = products['product_photos_qty'].astype(int)

In [42]:
customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix    object
customer_city               object
customer_state              object
dtype: object

In [43]:
geolocation.dtypes

geolocation_zip_code_prefix     object
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [44]:
order_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [45]:
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [46]:
payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [47]:
products.dtypes

product_id                     object
product category               object
product_name_length           float64
product_description_length    float64
product_photos_qty              int64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [48]:
sellers.dtypes

seller_id                 object
seller_zip_code_prefix    object
seller_city               object
seller_state              object
dtype: object

In [49]:
orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13

In [ ]:
#orders[['order_id', 'order_status', 'order_delivered_customer_date']].head(2)

                           order_id order_status order_delivered_customer_date
0  e481f51cbdc54678b7cc49136f2d6af7    delivered           2017-10-10 21:25:13
1  53cdb2fc8bc7dce0b6741e2150273451    delivered           2018-08-07 15:27:45

In [56]:
colunas_escolidas = ['order_id', 'customer_id', 'order_status','order_delivered_carrier_date',]

orders[colunas_escolidas].head(2)
orders = orders[colunas_escolidas]
orders.head(2)

,order_id,customer_id,order_status,order_delivered_carrier_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-04 19:55:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-26 14:31:00